body {
	background-image: url(".jpg");
	text-align:center;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-family: Racer;
	color: white;
	font-size: 125px;
	text-align: center;
}

.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}

h2 { 
	font-size:60px;
	font-family: Racer;
	text-align: center;
}

h3 { 
	color: #006bb3;
	font-size: 40px;
	font-family: Mishmash BRK;
	text-align: center;
}

p {
	color: black;
	font-size:40px;
	font-family: Century Gothic;
}

#menu ul li {
    background-color:black;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:white;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing:1px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background:#5b78a7;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:150px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

#cabecera {
	width:100%;
	background:black;
	position:fixed;
}

img {
    width: 250px;
}

.carousel-inner{
	display:flex;
	justify-content: center;

	width: 250px;
	margin: auto;
}

.texts{
	width: 1000px;
}

.group {
	display: flex;
}

footer {
	color: #006bb3;
	font-size: 25px;
	font-family: Century Gothic;
	text-align: center;
}

#oculto {
	display: none;
}