body {
	background-image: url("../fotos/pinocho.jpg");
	text-align:center;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-family: broadway;
	color: white;
	font-size: 125px;
	text-align: center;
}

.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}

.icon {
	font-size: 15px;
}

#menu img{
	width: 40px;
   
}

#menu ul li {
    background-color:#0059b3;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:white;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:15px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing:2px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
	width: 303.8px;
}

#menu ul li:hover {
    background: #99ccff;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:303.8px;
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

#cabecera {
	width:100%;
	background:#0059b3;
	position:fixed;
}

div#imagen{
	width: 5px;
	height: 5px;
	margin-left:100px;
	position:relative;

}

div#info{
	position:absolute;
	overflow: hidden; 
	width: 1280px;
	height: 720px;
	background-color: rgba(31, 31, 31, 0.8);
	opacity: 0;
	-webkit-transition:0,2;
}

div#imagen:hover div#info{
	opacity:1;
}

p#headline{
	font-size: 21px;
	position:absolute;
	margin-left:300px;
	-webkit-transition: margin 0.2s;
	margin-top: 20px;
}

div#imagen:hover p#headline{
	margin-left: 500px;
}
p#info2{
	width: 380px;
	position: absolute;
	text-align: center;
	margin-top: 300px;
	margin-left:500px;
	color:#e62e00;
}