body {
	background-image: url("../fotos/coche.jpg");
	text-align:center;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-family: broadway;
	color: white;
	font-size: 125px;
	text-align: center;
}

h2 {
	font-family: broadway;
	cursor:default;
	display: block; 
	line-height: 100px;
    text-shadow: 0 1px 0  #8c8c8c,
               0 2px 0  #8c8c8c,
               0 3px 0  #8c8c8c,
               0 4px 0  #8c8c8c,
               0 5px 0  #8c8c8c,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent;
	color:#ffbf80;
	font-size: 50px;
	text-align: center;
}

.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}
.jumbotron img{
	width:900px;
	height:520px;
}  

.icon {
	font-size: 15px;
}

#menu img{
	width: 40px;
   
}

#menu ul li {
    background-color:#ffbf80;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:15px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing:2px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
	width:379.81px;  
}

#menu ul li:hover {
    background:#ffe6cc;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:379.81px;  
	height:57px;
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

#cabecera {
	width:100%;
	background:#ffbf80;
	position:fixed;
	z-index: 15;
}

.carousel-inner{
	display:flex;
	justify-content: center;
	width: 800px;
	margin: auto;
{	
